.about-image img {
  width: 15rem;
  height: 20rem;
  border-radius: 5%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-image {
    width: 8rem;
    height: 13rem;
  }

  .about-image img {
    width: 8rem;
    height: 13rem;
  }
}
