.specials-container {
  font-family: var(--font-family-header);
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 19rem;
  margin-top: 1.5em;
}

.menu-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 15.5rem));
  justify-content: center;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .menu-items {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 15.5rem)) !important;
    gap: 1rem !important;
    padding: 0 1rem !important;
  }
  .menu-button {
    height: fit-content;
    align-self: center;
  }
  .specials-container {
    font-size: 0.9rem;
    gap: 5rem;
    margin-top: 0;
  }
}
